/* CSS Document for Screens */


body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/20180423%20coming%20soon2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}